html {
    height: 100%;
}

body {
    min-width: 450px;
    border: 1px solid #FF0000;
    border-radius: 5px;
}

.img-download-track,
.img-download-track-main {
    width: 16px;
    cursor: pointer;
    position: relative;
    top: 3px;
}

.radio24-top-logo {
    width: 105px;
    position: relative;
    top: 4px;
}

#options {
    color: #FF0000;
    text-align: center;
}

#download-songs-title {
    cursor: pointer;
    border-bottom: 1px solid #FF0000;
    border-top: 1px solid #FF0000;
    padding: 5px 0px;
    font-weight: bold;
    margin: 8px 0px;
    text-align: center;
}

#result {
    max-height: 465px;
    margin-bottom: 25px;
    display: none;
}

#total-downloads-container {
    display: none;
    color: #DF3A3A;
}

#total-downloads-text {

}

#total-downloads {
    color: #000000;
}

#download-all-songs,
#download-all-songs:hover,
#download-all-songs:visited {
    color: #DF3A3A;
    text-decoration: none;
}

.track-list-item {
    margin: 6px 0px;
    margin: 6px 0px;
    font-family: Helvetica;
    font-size: 13px;
    padding-left: 7px;
}

.track-list-item a {
    color: #DF3A3A;
    text-decoration: none;
}

.track-list-item a:hover {
    color: #DF3A3A;
    text-decoration: underline;
}

.track-list-item a:visited {
    color: #777676;
    text-decoration: none;
}

.track-list-item-number {
    display: inline-block;
    min-width: 43px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #DF3A3A !important;
}

.total-tacks-in-list {
    position: absolute;
    bottom: 12px;
    left: 30px;
    color: #000000;
    font-size: 12px;
    display: none;
}

#total-tacks-in-list-count {

}